body{
    margin:0;
    padding:0;
    font-family: sans-serif;

}
.loginbox{
    width:350px;
    height:450px;
    background: rgb(0,0,0,0.5);
    color:#fff;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size: 28px;
}
.loginbox p{
    margin:0;
    padding:0;
    font-weight: bolder;
}
.loginbox input{
    width:100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],input[ype="password"]{
    border:none;
    border-radius: 1px solid #fff;
    background: transparent;
    outline:none;
    height:40px;
    color:aliceblue;
    font-size: 20px;
}
.loginbox input[type="submit"]{
     border:none;
     outline:none;
     height:40px;
     background: #fb2525;
     color:#fff;
     font-size: 20px;
     border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor:pointer;
    background: #ffc107;
    color:#000;
}
.loginbox a{
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color:darkgrey;
}
.loginbox a:hover{
    color:#ffc107;
}